body{

}
.hero-image {
    background: url('https://images.axios.com/0_kX87EYg3dR2EPWopTDOuFok6k=/0x0:1920x1080/1920x1080/filters:no_upscale()/2020/01/31/1580484612606.gif') no-repeat center center;
    background-size: cover;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}
