body {
  background-color: black;
  padding-top: 100px;
}
.animate__animated.animate__lightSpeedInLeft {
  --animate-duration: 2s;
}
.animate__animated.animate__lightSpeedInRight {
  --animate-duration: 2s;
}
h1 {
  color: white;
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
}
h2 {
  color: white;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}
h3 {
  color: white;
  font-family: "Edu SA Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-decoration: underline;
}

.mb-3 {
  font-size: 40px;
}
p {
  color: white;
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
li {
  color: white;
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
}
br {
  display: block;
  margin: 100px 0;
  line-height: 150%;
}
.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #adadad !important;
}
.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
  background-color: #adadad;
}
.offcanvas-body {
  flex-grow: 1;
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
  overflow-y: auto;
  background-color: #adadad;
}

.nav-item {
  text-decoration: underline;
  color: black;
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

footer {
  color: white;
}
